.cookies {
	display: none;
	max-width: 280px;
	padding: 20px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	transform-origin: bottom left;
	border-radius: 10px;
	background-color: white;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.175, 1);

	&.show {
		display: block;
	}

	&.leaving {
		opacity: 0;
		transform: translateY(calc(100% + 20px));
	}
}

.cookies__title {
	margin-bottom: 10px;
	color: var(--color-secondary);
	font-weight: 900;
}

.cookies__message {
	font-size: 12px;
	line-height: 16px;
}

.cookies__link {
	font-size: 11px;
}