.alert {
	padding: 5px 15px !important;
	margin: 10px 0 !important;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
}

.alert--info {
	background-color: var(--color-info);
}

.alert--success {
	background-color: var(--color-success);
}

.alert--error {
	background-color: var(--color-danger);
}

.alert--warning {
	background-color: var(--color-warning);
}